py_light_field/build
py_light_field/build/*
py_light_field/test-py-light-field/test-py-light-field.xcodeproj/project.xcworkspace/xcshareddata
py_light_field/test-py-light-field/test-py-light-field.xcodeproj/project.xcworkspace/xcuserdata
py_light_field/test-py-light-field/DerivedData/
*.pyc
piv-raw-data
PSFmatrix
Data/03_Reconstructed/Left
perf_diags
threads*txt
.ipynb_checkpoints
.DS_Store
light-field-integrands/build
light-field-integrands/light_field_integrands_api.h
light-field-integrands/light_field_integrands.html
light-field-integrands/light_field_integrands.h
light-field-integrands/light_field_integrands.c
light-field-integrands/light_field_integrands.*.so

