# These list an exact combination of module versions that I know works.
Cython==0.29.21
h5py==2.10.0
numpy==1.19.1
# psutil requirement picks bug fix to give correct CPU count for motherboards with >=1 socket
psutil==5.7.3
# Note that (as of Mar 2023) there are special instructions that must be followed if you are
# installing pyfftw on Apple M1 hardware: https://github.com/andrej5elin/howto_fftw_apple_silicon
pyFFTW==0.12.0
scipy==1.5.1
six==1.15.0
tifffile==2020.7.22
tqdm==4.48.0
#joblib==0.16.0   # Not required any more
matplotlib=3.3.0