test-py-symmetry/DerivedData
fftw*
test-py-symmetry/test-py-symmetry.xcodeproj/project.xcworkspace/xcuserdata/jonny.xcuserdatad/UserInterfaceState.xcuserstate
test-py-symmetry/test-py-symmetry.xcodeproj/project.xcworkspace/xcshareddata
